<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebScrapping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="text-white" style="background-color:whitesmoke;">
    <div class="container-fluid">

        <!-- Jumbotron -->
        <div class="jumbotron text-center"
            style="background-image: url(https://ewscripps.brightspotcdn.com/dims4/default/71e35a0/2147483647/strip/true/crop/2999x1687+0+0/resize/1280x720!/quality/90/?url=https%3A%2F%2Fewscripps.brightspotcdn.com%2Fd6%2Fe3%2F8b726ca24e80a9efd2d33ea62edd%2Fs118575778.JPG); background-size: 100%;">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:#3e45a8;" href="/scrape" role="button">Scrape New
                Data</a>
        </div>

        <!-- News Section -->
        <div class="container-fluid">
            <h3>Latest Mars News</h3>
            <h6 style="color: #c1440e; font-size: 20px">{{ html_mars_collection.news_title }}</h6>
            <p>{{ html_mars_collection.news_paragraph }}</p>
        </div>

        <div class="container">
            <div class="row">
                <!-- Left Image-->
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3>Featured Mars Image</h3>
                    <img src="{{ html_mars_collection.featured_image }}" style="max-width:100%; max-height: auto;"
                        alt="Mars Featured Image">
                </div>

                <!-- Weather Card -->
                <div class="col-lg-4 col-md-4 col-sm-12">

                    <div class="card" style="width: 30rem;">
                        <div class="card-body text-white bg-dark">
                            <h3 class="card-title">Current Weather on Mars</h3>
                            <p class="card-text">{{ html_mars_collection.mars_weather }}</p>
                        </div>

                    </div>

                    <!-- Table -->
                    <br>
                    <h3>Mars Facts</h3>
                    <div style="max-width: 500px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ html_mars_collection.mars_facts_table | safe}}
                    </div>
                </div> <!-- col4 -->
            </div><!-- Row -->
        </div><!-- Container -->

        <!-- Cards -->
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>

        <!-- <div class="card-deck">
            <div class="col-lg-12 col-md-12">
                <div class="row justify-content-center" style="display: flex; justify-content: center;">
                    {% for item in html_mars_collection.image_mars_hemispheres %}
                        <div class="col-md-6">
                            <div class="card text-white bg-dark" style="margin: 30px;">
                                <img class="card-img-top img-responsive" src="{{ item.img_url }}" />
                                <div class="card-body">
                                    <p class="card-text">{{ item.title }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> -->

                {% for item in html_mars_collection.image_mars_hemispheres %}
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img class="card-img-top img-responsive" src="{{ item.img_url }}" />
                        <div class="caption">
                            <h3>{{ item.title }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}


        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>